html {
  overflow-x: hidden;
  overflow-y: scroll; }

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white; }

.hamburger-box {
  width: 45px;
  height: 30px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }

.hamburger--spring-r .hamburger-inner::before {
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }

.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh; }

div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

header {
  background: #464646;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 100; }
  header a {
    font-variant: small-caps;
    font-size: 3em;
    letter-spacing: 3px;
    font-family: 'Pacifico', cursive;
    padding: 10px;
    color: #fff;
    text-decoration: none; }
  header .hamburger {
    /* Nav button  */
    position: relative;
    width: auto;
    height: auto;
    cursor: pointer;
    z-index: 102;
    margin-right: 2.5rem; }

.nav-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.92;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav-overlay :only-child {
    visibility: inherit;
    position: absolute;
    top: 35%;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    transition: none; }
  .nav-overlay.active {
    visibility: visible;
    background-color: #333; }
  .nav-overlay a {
    visibility: inherit;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    margin: 20px;
    transition: all 0.3s ease-in-out;
    border: white 2px solid;
    width: 300px;
    height: 60px;
    text-align: center;
    line-height: 50px; }
    .nav-overlay a:hover {
      color: #ccc;
      transform: scale3d(1.1, 1.05, 0.95);
      transition: inherit; }

.main-button {
  padding: 12px 30px;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
  cursor: pointer;
  color: #8a442e;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.25);
  font-variant: small-caps;
  text-transform: uppercase; }
  .main-button:hover {
    color: #ccc;
    background-color: #b37145;
    transform: translateY(-5px); }
  .main-button:active {
    color: #aaa;
    background-color: #222222;
    transform: translateY(0); }

.background {
  background: url(/resources/luann-hunt-tv8e9oQx-H4-unsplash.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: contrast(0.8) brightness(0.8) saturate(1.2); }

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
  box-sizing: border-box;
  position: relative;
  z-index: 1; }
  main .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 150px);
    width: 100%;
    max-height: 1300px;
    background: #eee;
    box-sizing: border-box;
    position: relative;
    z-index: 1; }
    main .hero-content .main-content-text {
      width: 100%;
      backdrop-filter: blur(10px);
      padding: 15px 0; }
      main .hero-content .main-content-text :only-child {
        font-size: 3.5em;
        line-height: 1.5;
        font-family: 'Courier New', Courier, monospace;
        font-variant: small-caps; }
    main .hero-content h1 {
      font-size: 3em;
      font-weight: bold;
      text-align: center;
      margin: 0;
      line-height: 1.5; }
  main .menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background: #eee;
    box-sizing: border-box;
    position: relative; }
    main .menu-content h1 {
      font-size: 3em;
      font-family: 'Courier New', Courier, monospace;
      font-variant: small-caps;
      text-align: center; }
    main .menu-content .menu-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      min-width: 1200px;
      max-width: 2000px;
      background: #c7c7c7;
      gap: 2rem;
      padding: 4rem 2rem; }
    main .menu-content .pizza-menu {
      /* pizza grid */
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 20px;
      max-width: 1200px;
      padding: 40px 40px; }
      main .menu-content .pizza-menu div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%; }
      main .menu-content .pizza-menu img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.25); }
      main .menu-content .pizza-menu h2 {
        font-size: 2em;
        font-family: 'Courier New', Courier, monospace;
        font-variant: small-caps;
        position: absolute;
        top: 0;
        left: calc(50% - 57px);
        transform: translateY(-20px); }
    main .menu-content .salad-menu {
      /* salad grid */
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
      max-width: 1200px;
      padding: 40px 40px; }
      main .menu-content .salad-menu img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.25); }
      main .menu-content .salad-menu h2 {
        font-size: 2em;
        font-family: 'Courier New', Courier, monospace;
        font-variant: small-caps;
        position: absolute;
        top: 0;
        left: calc(50% - 57px);
        transform: translateY(-20px); }
    main .menu-content .side-menu {
      /* side grid */
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
      max-width: 1200px;
      padding: 40px 40px; }
      main .menu-content .side-menu img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.25); }
      main .menu-content .side-menu h2 {
        font-size: 2em;
        font-family: 'Courier New', Courier, monospace;
        font-variant: small-caps;
        position: absolute;
        top: 0;
        left: calc(50% - 57px);
        transform: translateY(-20px); }
  main .locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background: #eee;
    box-sizing: border-box; }
    main .locations h1 {
      font-size: 3em;
      font-family: 'Courier New', Courier, monospace;
      font-variant: small-caps;
      text-align: center; }
    main .locations p {
      font-size: 1.5em;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center; }
    main .locations :nth-child(3) {
      height: 100%; }
    main .locations .locations-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      max-width: 2200px;
      background: #eee;
      box-sizing: border-box;
      position: relative;
      z-index: 1;
      gap: 4rem;
      padding: 4rem; }
      main .locations .locations-wrapper .location {
        width: 100%;
        height: 100%;
        background: #b8b7b7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.25); }
        main .locations .locations-wrapper .location h2 {
          font-size: 3em;
          font-family: 'Courier New', Courier, monospace;
          font-variant: small-caps;
          text-align: center;
          letter-spacing: 0.1em; }
        main .locations .locations-wrapper .location p {
          font-size: 1.5em;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          text-align: center;
          letter-spacing: 1px; }
        main .locations .locations-wrapper .location img {
          width: 85%;
          height: 65%;
          object-fit: cover;
          border-radius: 5px; }
  main .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    main .about .about__content {
      height: calc(100vh - 150px);
      width: 85%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #c9c9c9; }
      main .about .about__content h1 {
        font-size: 3em;
        font-family: 'Courier New', Courier, monospace;
        font-variant: small-caps;
        text-align: center; }
      main .about .about__content p {
        font-size: 1.5em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        width: 75%;
        padding: 0 10%; }
      main .about .about__content img {
        width: 500px;
        height: 600px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.25); }
  main .contact {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    main .contact .contact__content {
      height: calc(100vh - 140px);
      width: 85%;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center; }
      main .contact .contact__content .contact__content__left {
        height: calc(auto + 100px);
        width: 60%;
        background-color: rgba(170, 170, 170, 0.76); }
      main .contact .contact__content .contact__content__right {
        height: calc(auto + 100px);
        width: 60%; }
        main .contact .contact__content .contact__content__right div {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly; }
          main .contact .contact__content .contact__content__right div form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: auto;
            gap: 1rem;
            background-color: rgba(170, 170, 170, 0.76);
            padding: 3rem; }
            main .contact .contact__content .contact__content__right div form .contact__form__title {
              font-size: 3em;
              font-family: 'Courier New', Courier, monospace;
              text-align: center;
              padding: 0;
              margin: 0; }
            main .contact .contact__content .contact__content__right div form label {
              font-size: 2em;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              text-align: center;
              letter-spacing: 1px;
              font-variant: small-caps;
              padding: 0.5rem; }
            main .contact .contact__content .contact__content__right div form input {
              width: 100%;
              height: 50px;
              border: none;
              border-bottom: 1px solid black;
              font-size: 1.5em;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              text-align: center;
              letter-spacing: 1px; }
            main .contact .contact__content .contact__content__right div form textarea {
              width: 100%;
              height: 200px;
              border: none;
              border-bottom: 1px solid black;
              font-size: 1.5em;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              text-align: center;
              letter-spacing: 1px; }
            main .contact .contact__content .contact__content__right div form input[type='submit'] {
              width: 100%;
              height: 50px;
              border: none;
              background: black;
              color: white;
              font-size: 1.5em;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              text-align: center;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-variant: small-caps;
              cursor: pointer; }
        main .contact .contact__content .contact__content__right img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -1;
          filter: saturate(0.5) brightness(0.5) contrast(1.5); }
      main .contact .contact__content h1 {
        font-size: 3em;
        font-family: 'Courier New', Courier, monospace;
        font-variant: small-caps;
        text-align: center; }
      main .contact .contact__content p {
        font-size: 1.5em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center; }

.google-maps {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: -1; }

.delivery-banner {
  width: 100%;
  height: 400px;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 50px;
  z-index: 1; }
  .delivery-banner h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0; }

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 450px;
  position: relative;
  z-index: 1; }
  .input-container .img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(/resources/fabrizio-pullara-vHRFraV4U00-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: sepia(75%) contrast(115%) brightness(90%) saturate(110%); }
  .input-container .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100px;
    background: #eee;
    box-sizing: border-box;
    position: relative;
    z-index: 1; }
    .input-container .input-wrapper h1 {
      font-style: italic;
      font-size: 1.75em;
      width: 75%;
      text-align: center; }
    .input-container .input-wrapper #email {
      width: 400px;
      height: 25px;
      border: 2px solid #333;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.5em;
      letter-spacing: 2px;
      line-height: 1.5;
      cursor: pointer;
      background-color: rgba(199, 199, 199, 0.493); }
      .input-container .input-wrapper #email:hover {
        color: #0a0a0a;
        border: 3px solid black; }
      .input-container .input-wrapper #email:focus {
        color: #050505;
        border: 3px solid black; }
    .input-container .input-wrapper button {
      margin-top: 20px; }

footer {
  background: rgba(51, 51, 51, 0.699);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  position: relative; }
  footer p {
    position: absolute; }

/*! 
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

/*# sourceMappingURL=style.css.map */
